*{
  font-family: FiraGo,sans-serif;
}
/******************************Home page************************/
.header_div{
    display: flex;
    flex-direction: row;
    margin-top: 140px;
  }
  .home_header_img{
    width: 624px;
    height: 200px;
    margin-right: 50px;
  }
  .home_header{
    font-size: 64px;
    line-height: 72px;
    font-weight: 700;
  
    width: 225px;
    height: 72px;
    margin-right: auto;
    margin-left: 89px;
  }
  /*******categories******/
  .categories_container{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
  
    width: 60%;
    height: 65px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
  
    border-radius: 10px;
  }
  .categories_container::-webkit-scrollbar {
    height: 2px; 
  }
  .categories_container::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border-radius: 5px;
  }
  .categories_container::-webkit-scrollbar-track {
    background-color: #ddd;
  }
  
  .each_category{
    display: flex;
    align-items: center;
  
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    white-space: nowrap;
  
    height: 32px;
    padding: 8px 16px 8px 16px;
    margin-top: 5px;
    margin-left: 15px;
    gap: 10px;
  
    border: 1px;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
  }
  .each_category:hover{
    opacity: 0.7;
    transition: 0.3s;
  }
  /****categories*****/
  
  /******login******/
  .login_background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color :black;
    opacity: 24%;
  }
  .login_popup{
    position: absolute;
    top: 314px ;
    left: 710px;
    width: 480px;
  
  
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 1);
  }
  .Login_header{
    font-size: 24px;
    text-align: center;
    line-height: 32px;
    font-weight: 700;
  
    width: 91px;
    height: 32px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -20px;
  }
  .close_button{
    width: 24px;
    height: 24px;
    margin-left: auto;
    margin-right: 20px ;
    color: black;
    cursor: pointer;
  }
  .close_button:hover{
    color: red;
  }
  
  /*login form*/
  .login_label{
    font-weight: 600;
    line-height: 20px;
    font-size: 14px;
    width: 76px;
    height: 20px;
  
    margin-left: 20px;
  }
  .login_input{
    width: 432px;
    height: 44px;
  
    margin-left: 20px;
    margin-top: 5px;
  
    border: 1.5px solid rgba(93, 55, 243, 1);
    border-radius: 12px;
    background-color: rgba(247, 247, 255, 1);
  }
  .login_input:focus{
    outline: none;
    border: 2px solid rgb(161, 137, 255);
    background-color: rgb(242, 239, 255);
  }
  .login_submit{
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
  
    width: 432px;
    height: 40px; 
    padding: 10px 20px 10px 20px;
    margin-left: 27px;
    margin-top: 20px;
    margin-bottom: 40px;
  
    border: 2px solid rgba(93, 55, 243, 1);
    border-radius: 8px;
    background-color: rgba(93, 55, 243, 1);
    color: rgba(255, 255, 255, 1) ;
    gap: 10px;
  
    cursor: pointer;
    transition: 0.3s;
  }
  .login_submit:hover{
    color: rgba(93, 55, 243, 1);
    background-color: white;
    transition: 0.3s;
  }
  .login_error{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
  
    width: 343px;
    height: 20px;
    color: rgba(234, 25, 25, 1);
  }
  .error_icon{
    width: 20px;
    height: 20px;
    margin-left: 20px;
    margin-right: 5px;
  
    color: red;
    transform: rotate(-180deg);
  }
  /*login form-end*/
  .succsess_img{
    width: 53px;
    height: 53px;
    margin-left: 220px;
  }
  .authorized_text{
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
  
    width: 284px;
    height: 28px;
    margin-left: auto;
    margin-right: auto;
  }
  /******login-end******/


  /********blogs*******/
  .blogs_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;


    margin-top: 100px;
    margin-left: 76px;
    gap: 32px;
    width: 1288px;
  }
.each_blog_container{
  width: 408px;
  gap: 24px;

  margin-bottom: 10px;
}

.blog_img{
  width: 408px;
  height: 328px;

  border-radius: 12px;
}
.each_blog_container>h3{
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  
  height: 20px;
  color:rgba(26, 26, 31, 1);
}
.blog_date{
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  height: 16px;

  color:rgba(133, 133, 141, 1);
}
.blog_title{
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;

  color:rgba(26, 26, 31, 1);
}

.blog_category_div{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.blog_each_category{
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;

  height: 28px;
  padding: 6px 10px 6px 10px;
  margin-top: 5px;
  gap: 10px;

  border-radius: 30px;
}
.blog_description{
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;

  height: 56px;
  overflow: hidden;
  color: rgba(64, 64, 73, 1);
}
.blog_open{
  display: flex;
  flex-direction: row;
  align-items: center;

  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-decoration: none;
  height: 20px;

  color:rgba(93, 55, 243, 1);
}