*{
  font-family: FiraGo,sans-serif;
}
/*************************navbar**************************/
.navbar_div{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
  
    width: 100%;
    height: 80px;
    border-bottom: 1px solid rgba(228, 227, 235, 1);
    background-color: white;
  }
  .logo{
    width: 150px;
    height: 24px;
  
    margin-top: 28px;
    margin-left: 76px;
    margin-right: auto;
  }
  .common_button{
    font-weight: bold;
    letter-spacing: 1px;
  
    width: 170px;
    height: 40px;
    
    margin-top: 20px;
    margin-right: 50px;
    padding: 10px 20px 10px 20px;
    
    border: 2px solid rgba(93, 55, 243, 1);
    border-radius: 8px;
    background-color: rgba(93, 55, 243, 1);
    color: white;
    cursor: pointer;
    transition: 0.3s;
  }
  .common_button:hover{
    background-color:white;
    color: rgba(93, 55, 243, 1);
    transition: 0.3s;
  }
  

  .back_icon{
    position: absolute;
    top: 120px;
    left: 76px;
    width: 44px;
    height: 44px; 
    border-radius: 24px;
    cursor: pointer;
    z-index: -1;
    transition: 0.3s;
  }
  .back_icon:hover{
    width: 49px;
    height: 49px;
    left: 65px;
    top: 117px;
    transition: 0.3s;
  }
  
  @media (max-width:680px){
    .navbar_div{
      flex-direction: column;
      height: fit-content;
    }
    .navbar_buttons_div{
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;
      margin-bottom: 20px;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .logo{
      margin-left: auto;
      margin-bottom: 20px;
    }
    .common_button{
      margin-right: 0px;
    }
  }

  @media (max-width:680px){
    .back_icon{
      top: 10px;
      left: 20px;
    }
  }